td, th {
  width: 15%;
}

#equipment td, #equipment th {
  width: 22%;
}

td.buttons, th.buttons {
  width: 10%;
  margin: auto;
}

#equipment td.buttons, #equipment th.buttons {
  width: 12%;
  margin: auto;
}

div.thumbnail {
  padding-top: 24px;
  transition: .5s ease;
}

div.thumbnail:hover {
  border: 1px solid;
  transition: .5s ease;
}

.pull-left h3 {
  margin: 0;
}

.header-button {
  margin-top: 20px;
  margin-bottom: 10px;
}
